In [9]:
import pandas as pd
import scipy.stats as stats

1. A physician is evaluating a new diet for her patients with a family history of heart disease. To test the effectiveness of this diet, 16 patients are placed on the diet for 6 months. Their weights and triglyceride levels are measured before and after the study, and the physician wants to know if either set of measurements has changed. (Data set: dietstudy.csv)

In [13]:
dietstudy=pd.read_csv("C:\\Users\\Priyanka Panday\\Downloads\\Bharti\\Class 7 & 8 files\\Stats - 2 [Effect Size]\\Basic Statistics Assignment\\dietstudy.csv")
dietstudy.head(3)

   patid  age gender  tg0  tg1  tg2  tg3  tg4  wgt0  wgt1  wgt2  wgt3  wgt4
0      1   45   Male  180  148  106  113  100   198   196   193   188   192
1      2   56   Male  139   94  119   75   92   237   233   232   228   225
2      3   50   Male  152  185   86  149  118   233   231   229   228   226

In [12]:
stats.ttest_rel(a=dietstudy.tg0,
                b=dietstudy.tg1)

Ttest_relResult(statistic=1.708339375326079, pvalue=0.10817790329711016)

In [14]:
stats.ttest_rel(a=dietstudy.wgt0,
                b=dietstudy.wgt1)

Ttest_relResult(statistic=3.69481872265182, pvalue=0.0021619105203089487)

2. An analyst at a department store wants to evaluate a recent credit card promotion. To this end, 500 cardholders were randomly selected. Half received an ad promoting a reduced interest rate on purchases made over the next three months, and half received a standard seasonal ad. Is the promotion effective to increase sales? (Data set: creditpromo.csv)

In [33]:
creditpromo=pd.read_csv("C:\\Users\\Priyanka Panday\\Downloads\\Bharti\\Class 7 & 8 files\\Stats - 2 [Effect Size]\\Basic Statistics Assignment\\creditpromo.csv")
creditpromo.head(3)

    id         insert      dollars
0  148       Standard  2232.771979
1  572  New Promotion  1403.807542
2  973       Standard  2327.092181

In [42]:
standard=creditpromo[creditpromo['insert']=='Standard']
standard_1=standard['dollars']
new_promotion=creditpromo[creditpromo['insert']=='New Promotion']
new_promotion_1=new_promotion['dollars']
stats.ttest_ind(a= standard_1,
                b= new_promotion_1,
                equal_var=False)

Ttest_indResult(statistic=-2.260422726464996, pvalue=0.024226348191648994)

3. An experiment is conducted to study the hybrid seed production of bottle gourd under open field conditions. The main aim of the investigation is to compare natural pollination and hand pollination. The data are collected on 10 randomly selected plants from each of natural pollination and hand pollination. The data are collected on fruit weight (kg), seed yield/plant (g) and seedling length (cm). (Data set: pollination.csv) a. Is the overall population of Seed yield/plant (g) equals to 200? b. Test whether the natural pollination and hand pollination under open field conditions are equally effective or are significantly different.

In [61]:
pollination=pd.read_csv("C:\\Users\\Priyanka Panday\\Downloads\\Bharti\\Class 7 & 8 files\\Stats - 2 [Effect Size]\\Basic Statistics Assignment\\pollination.csv")


stats.ttest_1samp(a= pollination.Seed_Yield_Plant,
                 popmean= 200)
pollination.head(3)

     Group  Fruit_Wt  Seed_Yield_Plant  Seedling_length
0  Natural      1.85            147.70            16.86
1  Natural      1.86            136.86            16.77
2  Natural      1.83            149.97            16.35

In [66]:
natural=pollination.Fruit_Wt[pollination.Group=='Natural']
hand=pollination.Fruit_Wt[pollination.Group=='Hand']
stats.ttest_ind(a= natural,
                b= hand,
                equal_var=False)

Ttest_indResult(statistic=-17.669989614440286, pvalue=4.306871213074868e-09)

In [67]:
natural=pollination.Seed_Yield_Plant[pollination.Group=='Natural']
hand=pollination.Seed_Yield_Plant[pollination.Group=='Hand']
stats.ttest_ind(a= natural,
                b= hand,
                equal_var=False)

Ttest_indResult(statistic=-13.958260515902547, pvalue=5.136161282685624e-11)

In [68]:
natural=pollination.Seedling_length[pollination.Group=='Natural']
hand=pollination.Seedling_length[pollination.Group=='Hand']
stats.ttest_ind(a= natural,
                b= hand,
                equal_var=False)

Ttest_indResult(statistic=-2.542229999657055, pvalue=0.021430608378161634)

4. An electronics firm is developing a new DVD player in response to customer requests. Using a prototype, the marketing team has collected focus data for different age groups viz. Under 25; 25-34; 35-44; 45-54; 55-64; 65 and above. Do you think that consumers of various ages rated the design differently? (Data set: dvdplayer.csv).

In [70]:
dvdplayer=pd.read_csv("C:\\Users\\Priyanka Panday\\Downloads\\Bharti\\Class 7 & 8 files\\Stats - 2 [Effect Size]\\Basic Statistics Assignment\\dvdplayer.csv")
dvdplayer.head(3)

      agegroup   dvdscore
0  65 and over  38.454803
1        55-64  17.669677
2  65 and over  31.704307

In [83]:
s1 = dvdplayer.dvdscore[dvdplayer.agegroup=='Under 25']
s2 = dvdplayer.dvdscore[dvdplayer.agegroup=='25-34']
s3 = dvdplayer.dvdscore[dvdplayer.agegroup=='35-44']
s4 = dvdplayer.dvdscore[dvdplayer.agegroup=='45-54']
s5 = dvdplayer.dvdscore[dvdplayer.agegroup=='55-64']
s6 = dvdplayer.dvdscore[dvdplayer.agegroup=='65 and above']


stats.f_oneway(s1, s2, s3, s4, s5, s6)

F_onewayResult(statistic=nan, pvalue=nan)

5. A survey was conducted among 2800 customers on several demographic characteristics. Working status, sex, age, age-group, race, happiness, no. of child, marital status, educational qualifications, income group etc. had been captured for that purpose. (Data set: sample_survey.csv).  
a. Is there any relationship in between labour force status with marital status? b. Do you think educational qualification is somehow controlling the marital status?  c. Is happiness is driven by earnings or marital status?

In [98]:
sample_survey=pd.read_csv("C:\\Users\\Priyanka Panday\\Downloads\\Bharti\\Class 7 & 8 files\\Stats - 2 [Effect Size]\\Basic Statistics Assignment\\sample_survey.csv")
sample_survey.columns

Index([u'id', u'wrkstat', u'marital', u'childs', u'age', u'educ', u'paeduc',
       u'maeduc', u'speduc', u'degree', u'sex', u'race', u'born', u'parborn',
       u'granborn', u'income', u'rincome', u'polviews', u'cappun', u'postlife',
       u'happy', u'hapmar', u'owngun', u'news', u'tvhours', u'howpaid',
       u'ethnic', u'eth1', u'eth2', u'eth3', u'confinan', u'conbus',
       u'coneduc', u'conpress', u'conmedic', u'contv', u'agecat', u'childcat',
       u'news1', u'news2', u'news3', u'news4', u'news5', u'car1', u'car2',
       u'car3'],
      dtype='object')

In [94]:
t=pd.crosstab(sample_survey.race, sample_survey.marital, margins = True)
t

marital  Divorced  Married  Never married  Separated  Widowed   All
race
Black          73      122            133         27       44   399
Other          30       73             74          5        9   191
White         343     1151            456         61      230  2241
All           446     1346            663         93      283  2831

In [95]:
stats.chi2_contingency(observed= t)

(104.4322720476971,
 1.8744211487839212e-15,
 15L,
 array([[  62.8590604 ,  189.70469799,   93.44295302,   13.10738255,
           39.88590604,  399.        ],
        [  30.09042741,   90.81102084,   44.73083716,    6.27446132,
           19.09325327,  191.        ],
        [ 353.05051219, 1065.48428117,  524.82620982,   73.61815613,
          224.02084069, 2241.        ],
        [ 446.        , 1346.        ,  663.        ,   93.        ,
          283.        , 2831.        ]]))

In [103]:
t1=pd.crosstab(sample_survey.degree, sample_survey.marital, margins = True)
t1

marital         Divorced  Married  Never married  Separated  Widowed   All
degree
Bachelor              58      251            129         12       28   478
Graduate              29      123             41          3        9   205
High school          241      686            367         58      148  1500
Junior college        45      108             46          3        6   208
LT High school        70      174             77         17       92   430
All                  443     1342            660         93      283  2821

In [104]:
stats.chi2_contingency(observed= t)

(221.10896441647756,
 3.86334244881229e-11,
 100L,
 array([[3.15005321e-01, 9.49982263e-01, 4.68251153e-01, 6.59808443e-02,
         2.00780419e-01, 2.00000000e+00],
        [7.87513303e-01, 2.37495566e+00, 1.17062788e+00, 1.64952111e-01,
         5.01951046e-01, 5.00000000e+00],
        [1.57502661e+00, 4.74991132e+00, 2.34125576e+00, 3.29904221e-01,
         1.00390209e+00, 1.00000000e+01],
        [1.41752394e+00, 4.27492018e+00, 2.10713019e+00, 2.96913799e-01,
         9.03511884e-01, 9.00000000e+00],
        [1.26002128e+00, 3.79992905e+00, 1.87300461e+00, 2.63923377e-01,
         8.03121674e-01, 8.00000000e+00],
        [3.62256119e+00, 1.09247960e+01, 5.38488826e+00, 7.58779709e-01,
         2.30897481e+00, 2.30000000e+01],
        [3.30755587e+00, 9.97481376e+00, 4.91663711e+00, 6.92798865e-01,
         2.10819440e+00, 2.10000000e+01],
        [1.29152182e+01, 3.89492728e+01, 1.91982973e+01, 2.70521462e+00,
         8.23199716e+00, 8.20000000e+01],
        [1.18126995e+01, 3.56243349e+01, 1.75594182e+01, 2.47428166e+00,
         7.52926570e+00, 7.50000000e+01],
        [1.77978006e+01, 5.36739979e+01, 2.64561901e+01, 3.72791770e+00,
         1.13440937e+01, 1.13000000e+02],
        [2.17353672e+01, 6.55487762e+01, 3.23093295e+01, 4.55267825e+00,
         1.38538489e+01, 1.38000000e+02],
        [1.34034764e+02, 4.04217453e+02, 1.99240866e+02, 2.80748492e+01,
         8.54320681e+01, 8.51000000e+02],
        [4.25257183e+01, 1.28247606e+02, 6.32139056e+01, 8.90741398e+00,
         2.71053565e+01, 2.70000000e+02],
        [5.49684285e+01, 1.65771905e+02, 8.17098262e+01, 1.15136573e+01,
         3.50361830e+01, 3.49000000e+02],
        [2.29953884e+01, 6.93487052e+01, 3.41823342e+01, 4.81660163e+00,
         1.46569706e+01, 1.46000000e+02],
        [6.48910961e+01, 1.95696346e+02, 9.64597375e+01, 1.35920539e+01,
         4.13607662e+01, 4.12000000e+02],
        [1.35452288e+01, 4.08492373e+01, 2.01347996e+01, 2.83717630e+00,
         8.63355800e+00, 8.60000000e+01],
        [1.71677900e+01, 5.17740333e+01, 2.55196878e+01, 3.59595601e+00,
         1.09425328e+01, 1.09000000e+02],
        [6.45760908e+00, 1.94746364e+01, 9.59914863e+00, 1.35260731e+00,
         4.11599858e+00, 4.10000000e+01],
        [1.08676836e+01, 3.27743881e+01, 1.61546648e+01, 2.27633913e+00,
         6.92692444e+00, 6.90000000e+01],
        [4.44000000e+02, 1.33900000e+03, 6.60000000e+02, 9.30000000e+01,
         2.83000000e+02, 2.81900000e+03]]))

In [107]:
t2=pd.crosstab(sample_survey.happy, sample_survey.marital, margins = True)
t3=pd.crosstab(sample_survey.happy, sample_survey.income, margins = True)

stats.chi2_contingency(observed= t2)
stats.chi2_contingency(observed= t3)

(178.95053061216427,
 7.234749067043371e-21,
 36L,
 array([[   3.89520355,   23.12777106,   21.66706973,   29.82265216,
          191.35187424,    2.92140266,    3.89520355,    4.26037888,
            4.01692866,    5.72108021,    7.06005643,    4.26037888,
          302.        ],
        [  18.16041919,  107.82748892,  101.01733172,  139.04070939,
          892.1305925 ,   13.62031439,   18.16041919,   19.86295848,
           18.72793229,   26.67311568,   32.91575977,   19.86295848,
         1408.        ],
        [   9.94437727,   59.04474002,   55.31559855,   76.13663845,
          488.51753325,    7.45828295,    9.94437727,   10.87666264,
           10.25513906,   14.60580411,   18.0241838 ,   10.87666264,
          771.        ],
        [  32.        ,  190.        ,  178.        ,  245.        ,
         1572.        ,   24.        ,   32.        ,   35.        ,
           33.        ,   47.        ,   58.        ,   35.        ,
         2481.        ]]))